In [51]:
import pandas as pd
import numpy as np

In [52]:
# Read transposed csv
arma3t = pd.read_csv('./arma3.csv', header=None).T

In [53]:
#arma2_np = arma2t.to_numpy()
print(arma3t.shape)

(100, 10000)

In [54]:
# List of timestamp to insert
# Change period according to length of the time series
datelist = pd.date_range(start='1/1/2022', freq='1H', tz='UTC', periods=100)
#print(type(datelist))

# Insert timestamp as the first column to transposed csv
arma3t.insert(0, "Timestamp", datelist)

In [55]:
arma3t.head()

,Timestamp,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,2022-01-01 00:00:00+00:00,1.290113,-1.437362,1.233126,-3.392760,0.017429,-1.987211,1.658968,1.390632,0.886643,...,1.154253,-0.591451,-0.105589,-1.579489,0.248325,2.910859,0.197835,-0.402384,0.022435,0.344523
1,2022-01-01 01:00:00+00:00,-0.101551,4.983675,0.518587,-1.028727,-2.609596,-0.440477,-0.876729,0.788696,-0.115121,...,1.931420,0.424407,0.689468,-3.743258,-0.924463,0.587554,-2.427187,0.392796,0.885571,1.563899
2,2022-01-01 02:00:00+00:00,0.850492,0.491726,1.161417,-6.042771,0.405186,1.395835,0.430881,-4.892176,-0.860982,...,-2.974188,-1.135193,-0.791842,0.378798,-0.602441,-0.766155,2.013656,-0.713573,-0.240607,-1.218874
3,2022-01-01 03:00:00+00:00,0.470221,-2.639452,-4.066286,-1.582325,2.090611,-3.098295,-0.733541,-0.272307,0.451894,...,0.426457,-0.072974,2.764271,2.451786,1.067566,-0.533318,-2.275612,-1.783163,-1.740590,0.475034
4,2022-01-01 04:00:00+00:00,1.321633,-0.021719,-0.996588,0.706295,1.620615,1.319547,-1.625361,0.898360,0.580711,...,0.256663,2.079452,0.728685,-3.146713,2.335587,2.496493,-0.385866,1.798622,0.966428,-0.404397

In [56]:
# Write dataframe to csv
arma3t.to_csv('arma3.csv', index=False)